# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
stg-vfai-env/*
ENV/
env/
.vf-ai/
.env
.env.*
gunicorn.conf.py
# Testing
.pytest_cache/
.coverage
htmlcov/
.tox/
nosetests.xml
coverage.xml

# IDE specific files
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Project specific
*.log
*.sqlite3 

# logs
logs/
request_logs.json
creds.json